{% extends 'base.html.twig' %}

{% block title %}Accueil - EcoRide
{% endblock %}

{% block body %}
	<div class="container text-center mt-5">
		<h1>Bienvenue sur EcoRide</h1>
		<p class="lead">La plateforme de covoiturage écologique</p>

		<a href="#" class="btn btn-success btn-lg mt-3">
			Trouver un trajet
		</a>
	</div>

{% endblock %}
